<div class="bg-white p-4 rounded space-y-4">
    <!-- avatar -->
     <!--  -->
    <div class="flex justify-between items-center">
        <div class="flex gap-4 items-center">
            <img [src]="post?.user?.photo" class="rounded-full h-12" alt="">
            <div class="">
                <p class="font-bold">{{post?.user?.name}}</p>
                <p>{{post?.createdAt}}</p>
            </div>

        </div>
        <i class="fa fa-home"></i>
    </div>

    <!-- post body -->
    <p>
        {{post?.body}}
    </p>
    <!-- post img -->
    <img [src]="post?.image" class="w-full max-h-69 object-contain" alt="">

    <!-- comments -->
    <button (click)="getPostComments()" class="secondary-btn  text-blue-500">Show Comment {{post?.commentsCount}}</button>

    <!-- [0 , 0 , 0 , 0] -->
    <div class="grid gap-4">

        @for (com of comments; track $index) {
        <app-comment-card (onDeleted)="handleDelete()" [comment]="com"></app-comment-card>
        }


        <form (ngSubmit)="createComment()" [formGroup]="commentCreateForm" class="flex gap-2">
            <textarea formControlName="content"  id="message" rows="1"
                class=" bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full p-3.5 shadow-xs placeholder:text-body"
                placeholder="Write your thoughts here..."></textarea>
            <button type="submit" class="secondary-btn">
                <i class="fa-solid fa-paper-plane text-blue-500"></i>
            </button>
        </form>

    </div>
</div>